.post-box{
    padding: 8px 15px;
 
}    
    
.post-box h1{
    font-size: 18px;
    font-weight: bold;
    color: rgb(235, 82, 21);
    margin: 5px;
    display: inline;
}
.post-box{
    font-size: 14px;
}

